/*
----------
Reset
----------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
----------
Debug
----------
*/

.debug .top-header {
    height: 80px;
}

.debug .bottom-header {
    height: 500px;
}

.debug .content-bottom-header {
    height: 400px;
}

.debug .container-row {
    height: 600px;
}

.debug .row .col {
    height: 500px;
}

.debug .container-row1 {
    height: 600px;
}

.debug .row1 .col1 {
    height: 500px;
}

.debug .bottom-main {
    height: 1000px;
}

.debug .content-bottom-main {
    height: 900px;
}

.debug footer {
    height: 750px;
}

.debug .container-top-footer {
    height: 575px;
}

.debug .container-bottom-footer {
    height: 80px;
}

/*
----------
Common
----------
*/

.container {
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
}

.container-small {
    max-width: 900px;
}

/*
----------
Header
----------
*/

.top-header {
    background-color: #add8e6;
    padding: 12px 0;
}

nav.container-big.container {
    background-color: #DAA520;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    width: 80%;
    justify-content: center;
    border: 2px dashed black;
    padding: 15px 0;
}

li a {
    text-decoration: none;
    color: white;
}

.logo {
    text-decoration: none;
    color: white;
    width: 20%;
    border: 2px dashed black;
    padding: 15px 0 15px 5px;
}

.login {
    text-decoration: none;
    color: white;
    width: 20%;
    text-align: right;
    border: 2px dashed black;
    padding: 15px 5px 15px 0;
}

.bottom-header {
    background-color: #00008b;
    padding: 50px 0;
    border-bottom: 5px solid #add8e6;
}

.content-bottom-header.container.container-small {
    background-color: #ee82ee;
    border: 2px dashed black;
}

/*
----------
Main
----------
*/

.container-row {
    background-color: white;
    padding: 50px 0;
}

.row.container.container-big {
    display: flex;
}

.col-big {
    background-color: #1e90ff;
    width: 60%;
    border: 2px dashed black;
}

.col-small {
    background-color: #ffc0cb;
    width: 40%;
    border: 2px dashed black;
}

.container-row1 {
    background-color: #d3d3d3;
    padding: 50px 0;
}

.row1.container.container-big {
    display: flex;
}

.col-big1 {
    background-color: #ffc0cb;
    width: 40%;
    border: 2px dashed black;
}

.col-small1 {
    background-color: #1e90ff;
    width: 60%;
    border: 2px dashed black;
}

.bottom-main {
    background-color: #d3d3d3;
    padding: 50px 0;
}

.content-bottom-main.container.container-big {
    background-color: #228b22;
    border: 2px dashed black;
}

/*
----------
Footer
----------
*/

footer {
    background-color: #23272a;
}

.container-top-footer {
    display: flex;
    padding: 10px 0 50px 0;
    height: 600px;
}

.col-footer-big {
    background-color: #f08080;
    flex-basis: 30%;
    border: 2px dashed black;
}

.col-footer-small {
    background-color: #20b2aa;
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
}

.col-footer-small>.col {
    flex-basis: 25%;
    border: 2px dashed white;
}

.container-bottom-footer {
    background-color: #7fffd4;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-bottom-footer.container.container-big>a {
    text-decoration: none;
    color: black;
    border: 1px dashed black;
    background-color: #ffb6c1;
    padding: 5px;
}